body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 5%;;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #333;
}

.active {
  background-color: #FFA500;
}

p {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.codeBox {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  background-color: #000;
  color: #fff;
  padding-left: 20px;
}
